@*****
@(form:Form[models.People])
@import helper._

@main("registration form"){
<!--  <html>

    <head>
        <title>Zentasks</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Zen</span>tasks</a>
        </header>
    
    </body>
</html>  -->

@helper.form(routes.Application.register) {
   <h1>Registration: </h1>

  <p> Name:<input type="text" name="name"/></p>

   <p>Email:
       <input type="email" name="email" placeholder="Email">
   </p>
   <p>Password: 
       <input type="password" name="password" placeholder="Password">
   </p>
    <p>Occupation: <input type="text" name="occupation"/></p>
    <p> Mobile: <input type="text" name="mobile"/></p>
    <p> Address: <input type="text" name="address"/></p>
    <p><button type="submit">Register</button></p>
}}

********@


@(form:Form[models.People])
@import helper._
@main("registration form"){
<!--  <html>

    <head>
        <title>Zentasks</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Zen</span>tasks</a>
        </header>
    
    </body>
</html>  -->


@*** val today = Calendar.getInstance().getTime()  ***@

<div id="main">
<form class="cmxform" id="commentForm"  method="POST" action="@routes.Application.register()" style="width:500px"  enctype="multipart/form-data">
<fieldset>
<legend><h1>User Registration: </h1></legend>
   

  <p>
	<label for="name">Name:</label>  
  	<input type="text" name="name" id="name"/>
  </p>

   <p>
   	   <label for="email">Email:</label>
       <input type="email" name="email" id=email placeholder="Email" required>
   </p>
   <p><label for="password">Password:</label> 
       <input type="password" name="password" id="password" placeholder="Password" required>
   </p>
   
    <p>
    	<label for="occupation">Occupation:</label>
    	 <input type="text" name="occupation" id="occupation"/>
    </p>
    <p> 
    	<label for="mobile">Mobile:</label>
    	<input type="text" name="mobile" id=mobile/>
    </p>
    
    <p> 
    	<label for="address">Address:</label>
    	<input type="text" name="address" id="address"/>
    	
    </p>
 <!--   <input type="file" name="picture" accept="image/png">  --> 
    <p>
    <input type="submit" value="Register"/>
    </p>
    
    </fieldset>
</form>


</div>
}



